# Dependencies
/node_modules
/.pnp
.pnp.js

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output and cache
/the-foodies-hub/.next
/the-foodies-hub/.swc
/the-foodies-hub/out
/the-foodies-hub/.env.local

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*