@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Konkhmer+Sleokchher&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
.header{
    display: flex;
    justify-content:space-between;
    background-color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
}

.header a{
    text-decoration: none;
    color: black;
}

.home-link{
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    padding-bottom: 3.125rem;
    font-family: 'Sansita', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

.header a.home-link:hover{
    transition: calc(0.3s) ease-in-out;
    color: #640D5F;
}

.user{
    margin-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.user a{
    margin-right: 3.75rem;
    font-family: 'Albert Sans', sans-serif;
    font-size: 2rem;
}

.user a:hover{
    transition: calc(0.3s) ease-in-out;
    color: #640D5F;
}

.user .profile img, .user .cart img {
    height: 1.2rem;
    width: 1.2rem;
}

.user{
    display: flex;
}

.profile, .cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile img, .cart img{
    margin-right: 0.3125rem;
}

@media (max-width: 768px) {
    .home-link {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.2rem;
    }
    .user {
        margin-top: 1.5rem;
    }
    .user a {
        font-size: 1rem;
        margin-right: 1rem;
    }
}
@media (max-width: 480px) {
    .user a {
        font-size: 0.7rem;
        margin-right: 0.5rem;
    }
}